<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ra66it.updaterforspotify">

    <permission android:name="ru.ra66it.android.updaterforspotify.PRIVATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="ru.ra66it.android.updaterforspotify.PRIVATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainTheme"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/PreferencesTheme"/>

        <service android:name=".notification.PollService" />
        <receiver android:name=".notification.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="ru.ra66it.android.updaterforspotify.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notification.NotificationDownloadService"
            android:exported="false"/>

    </application>

</manifest>